.main {
  display: flex;
  flex-direction: column;

  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("https://i.ibb.co/P5Smpzc/IMG-20201208-155830.jpg");
  box-sizing: border-box;
  position: relative;
  font-family: cornerstone;
  font-weight: bolder;
  width: 100vw;
  height: 100vh;
  border: 2px black solid;
}
header {
  box-sizing: border-box;
  margin-top:25px; 
  background-color: white;
  background-image: url("https://i.ibb.co/9H102HC/Thrift-Logo-Full-Color.jpg");
  background-size: 300px;
  background-repeat: no-repeat;
  background-color: white;
  height: 15vh;
  padding-top: 2vh;

  -moz-box-shadow: 3px 3px 5px 6px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 3px 3px 5px 6px rgba(0, 0, 0, 0.4);
  box-shadow: 3px 3px 5px 6px rgba(0, 0, 0, 0.4);
 
}
h1 {
    font-size: 70px;
    font-weight: 1900;
  text-align: center;
}
.choice{
  position: relative;
  left:8.5vw;
 width: 20vw;
}
.choice2{
  position: relative;
  left:9vw;
 width: 25vw;
}
.choice3{
  position: relative;
  left:3vw;
 width: 55vw;
}
.form-container {
  top: 50px;
  border-radius: 15px;
  position: relative;
  padding-top: 50px;
  box-sizing: border-box;
  display: flex;
  margin: auto;
  justify-content: space-evenly;
  background-color: rgb(0, 86, 119, 0.8);
  
  flex-direction: column;
 
  width: 40vw;
  height: 70vh;
  -moz-box-shadow: 3px 3px 5px 6px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 3px 3px 5px 6px rgba(0, 0, 0, 0.4);
    box-shadow: 8px 8px 8px 8px rgba(0, 0, 0, 0.4);
}

.choice{
    position: relative;
    left:8.5vw;
   width: 20vw;
  }
  .choice2{
    position: relative;
    left:9vw;
   width: 25vw;
  }
  .choice3{
    position: relative;
    left:3vw;
   width: 55vw;
  }

.auto_complete {
    position: relative;
   left:4.5vw;
  width: 20vw;
  
  /* border: 1px solid black; */
}
.date_receipt {
  width: 10vw;
  padding-left: 19px;
}

.department {
    position: relative;
    left:4.5vw;
   width: 20vw;
 
}
.form-item {
  margin: 7px;
  margin-left: 15px;
  border-radius: 20px;
  position: relative;
  background-color: white;
  left: 5vw;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  height: 16vh;
  width: 29vw;
  border: 1px black solid;
  -moz-box-shadow: 3px 3px 5px 6px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 3px 3px 5px 6px rgba(0, 0, 0, 0.4);
  box-shadow: 3px 3px 5px 6px rgba(0, 0, 0, 0.4);
}

  .form-item3 {
    position: relative;
   

    left: 16vw;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    height: 6vh;
    padding: 0px;
    margin-bottom: 30px;
    width: 6vw;
    
  }
  
.button-next {
  top:1.15vh;
  right:3.25vw;
  
  width:100px;
  height: 40px;

 

  margin:50px;
  position: relative;
  border: 1px solid black;
  border-radius: 15px;
  background-color: rgb(108 178 226);
  -moz-box-shadow: 3px 3px 5px 6px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 3px 3px 5px 6px rgba(0, 0, 0, 0.4);
  box-shadow: 8px 8px 8px 8px rgba(0, 0, 0, 0.4);

}
.button-next:hover {
    background-color: rgb(6, 23, 34);
    color: white;
  }
  .button-next:active {
    background-color: rgb(85, 87, 89);
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }
.button-next2{
  top:1.15vh;
  left:.15vw;
  width:100px;
  height: 40px;
  position: relative;
  border: 1px solid black;
  border-radius: 15px;
  background-color: rgb(108 178 226);
  -moz-box-shadow: 3px 3px 5px 6px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 3px 3px 5px 6px rgba(0, 0, 0, 0.4);
  box-shadow: 8px 8px 8px 8px rgba(0, 0, 0, 0.4);
}
.button-next2:hover {
  background-color: rgb(6, 23, 34);
  color: white;
}
.button-next2:active {
  background-color: rgb(85, 87, 89);
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
